In [3]:
import pandas as pd

# Creating a Pandas Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
s = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [3]:
# Creating a Pandas Series from a dictionary
data = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
s = pd.Series(data)
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [4]:
# Accessing data in a Series using index labels
print(s['a'])
print(s['c'])

10
30

In [5]:
# Accessing data in a Series by position
print(s[0])  # First element
print(s[2])  # Third element

10
30

C:\Users\adama\AppData\Local\Temp\ipykernel_15264\2047556076.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])  # First element
C:\Users\adama\AppData\Local\Temp\ipykernel_15264\2047556076.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[2])  # Third element

In [6]:
# Slicing a Series by label
print(s['a':'c'])  # Includes elements from 'a' to 'c'

a    10
b    20
c    30
dtype: int64

In [7]:
# Creating a DataFrame from a dictionary of lists
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago

In [8]:
# Creating a DataFrame from a list of dictionaries
data = [
    {'Name': 'Alice', 'Age': 24, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 27, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'Chicago'}
]
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago

In [13]:
# Accessing a single column
#print(df['Name'])

# Accessing multiple columns
#print(df[['Name', 'City']])

# Accessing a specific row by index
#print(df.iloc[1])

# Accessing a specific element
print(df.at[1, 'City'])  # Row 1, Column 'City'

Los Angeles

In [9]:
import pandas as pd

# Sample DataFrame for demonstration
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles'],
    'Sales': [100, 200, 150, 300, 400]
}
df = pd.DataFrame(data)

# Displaying basic information about the DataFrame
print("DataFrame Information:\n")
df.info()

# Summary statistics
print("\nSummary Statistics:\n")
print(df.describe())

# Checking for missing values
print("\nMissing Values in Each Column:\n")
print(df.isnull().sum())

DataFrame Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   Sales   5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

Summary Statistics:

             Age       Sales
count   5.000000    5.000000
mean   26.800000  230.000000
std     3.962323  120.415946
min    22.000000  100.000000
25%    24.000000  150.000000
50%    27.000000  200.000000
75%    29.000000  300.000000
max    32.000000  400.000000

Missing Values in Each Column:

Name     0
Age      0
City     0
Sales    0
dtype: int64

In [10]:
# Filtering data
filtered_df = df[df['Age'] > 25]
print("Filtered DataFrame (Age > 25):\n", filtered_df)

# Grouping and aggregating data
grouped_df = df.groupby('City').mean(numeric_only=True)
print("\nGrouped DataFrame by City (mean values):\n", grouped_df)

Filtered DataFrame (Age > 25):
      Name  Age         City  Sales
1     Bob   27  Los Angeles    200
3   David   32     New York    300
4  Edward   29  Los Angeles    400

Grouped DataFrame by City (mean values):
               Age  Sales
City
Chicago      22.0  150.0
Los Angeles  28.0  300.0
New York     28.0  200.0

In [11]:
import matplotlib.pyplot as plt

# Creating a bar plot for the distribution of cities
df['City'].value_counts().plot(kind='bar', title='City Distribution')
plt.xlabel('City')
plt.ylabel('Count')
plt.show()

# Creating a scatter plot for Age vs Sales
df.plot(kind='scatter', x='Age', y='Sales', title='Age vs Sales')
plt.xlabel('Age')
plt.ylabel('Sales')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'